:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

header {
    padding: 15px;
    color: #a5c2f5;
    text-shadow: 2px 2px 5px #dad26a;
    font-size: 55px;
    font-family: 'Advent Pro';
}

body {
    background-color: #444444;
    text-align: center;
}
#container {
    display: grid;
    margin: auto;
    outline: 5px solid #bebebe;
    padding: 2px;
    grid-gap: 1px;
    grid-template-rows: repeat(auto-fill, var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 620px;
    height: 620px;
    background-color: #2069e0;
}

p {
    font-size: 25px;
    font-family: 'Advent Pro';
    margin: 10px;
    color: #bebebe;
}

.button {
    background-color: #bebebe;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 22px;
    margin: 8px 4px;
    font-size: 18px;
    font-family: 'Advent Pro';
    width: 150px;
    border-radius: 5px;
    transition-duration: 0.4s;
    outline: none;
}

button:hover {
    background-color: #f5f5f5;
    color: #082c6c;
}

.grid-item {
    padding: 1px;
    border: 1px solid black;
    text-align: center;
}

.grid-item:hover {
    background-color: black;
}

.slidecontainer {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }